<footer class="app-footer">
  <a class="app-footer__link" href="">Help</a>
  <a class="app-footer__link" href="/css/">Privacy and Terms</a>
  <a class="app-footer__link" href="/js/">User Agreement</a>
</footer>
