<nav class="app-navigation mdc-top-app-bar mdc-top-app-bar--fixed">
  <div class="mdc-top-app-bar__row">
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
      <a href="#" class="material-icons mdc-top-app-bar__navigation-icon">menu</a>
      <span class="mdc-top-app-bar__title">Material</span>
    </section>
    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
      <a href="#" class="app-navigation__link">Home</a>
      <a href="#" class="app-navigation__link">About</a>
      <a href="#" class="app-navigation__link">Contact</a>
    </section>
  </div>
</nav>
