<div class="app-blog-item mdc-card">
    <div class="mdc-card__primary-action mdc-ripple-upgraded">
        <div class="app-blog-item__header">
            <h2 class="mdc-typography--headline6">Our Changing Planet</h2>
        </div>
        <div class="app-blog-item__desc mdc-typography--body2">Visit ten places on our planet that are undergoing the biggest changes today.</div>
    </div>
    <div class="mdc-card__actions">
      <div class="mdc-card__action-buttons">
        <button class="mdc-button mdc-card__action mdc-card__action--button mdc-ripple-upgraded">Read</button>
      </div>
    </div>
</div>
