<section class="app-blog-list">
  <div class="app-container">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell">
          {{> app-blog-item}}
        </div>
        <div class="mdc-layout-grid__cell">
          {{> app-blog-item}}
        </div>
        <div class="mdc-layout-grid__cell">
          {{> app-blog-item}}
        </div>
        <div class="mdc-layout-grid__cell">
          {{> app-blog-item}}
        </div>
        <div class="mdc-layout-grid__cell">
          {{> app-blog-item}}
        </div>
        <div class="mdc-layout-grid__cell">
          {{> app-blog-item}}
        </div>
        <div class="mdc-layout-grid__cell">
          {{> app-blog-item}}
        </div>
        <div class="mdc-layout-grid__cell">
          {{> app-blog-item}}
        </div>
        <div class="mdc-layout-grid__cell">
          {{> app-blog-item}}
        </div>
      </div>
    </div>
  </div>
</section>
